{% extends 'base.html' %}

{% block tittle %}Профиль{% endblock %}

{% block content %}
    <h4 class="center-align">Профиль</h4>
    <table class="highlight striped">
        <tr>
            <td>Логин</td>
            <td>{{ user }}</td>
        </tr>
        {% if user.first_name %}
            <tr>
                <td>Имя</td>
                <td>{{ user.first_name }}</td>
            </tr>
        {% endif %}
        {% if user.last_name %}
            <tr>
                <td>Фамилия</td>
                <td>{{ user.last_name }}</td>
            </tr>
        {% endif %}
        {% if user.email %}
            <tr>
                <td>email</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Статус</td>
            <td>{{ status }}</td>
        </tr>
        <tr>
            <td>Действия</td>
            <td>
                <a href="{% url "requ:logout" %}"
                   class="waves-effect red darken-4 btn-small">
                    <i class="material-icons right">logout</i>Выйти</a>
            </td>
        </tr>
    </table>
{% endblock %}